body{
    
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    /* background-image: url(/img/911.png) ;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-image: linear-gradient(to right, rgb(168, 174, 169), rgb(252, 255, 244)); */

    background-image: url("img/pattern1.png");
    background-size: contain;

    margin: auto;
    margin-bottom: 0;
    margin-top: 0px;
    padding: 0px;

    width: 900px;

}

#sc_1 {

    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;

    background-color: rgb(255, 102, 102);
    height: 100px;
}

#sc_1 #d_1 {

    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    margin: 0;
    padding: 0;
}

#sc_1 #d_2 {

    margin: 0;
    margin-top: -10px;
    padding: 0;

    font-size: 20px;
    font-family: cursive, Helvetica, sans-serif;
}

#d_3 img {

    padding: 0px;
    margin: 0px;

    width: 100%;
    
}

#sc_2 {

    padding: 20px;
    margin: 0px;
    margin-top: -5px;

    background-color: white;
}

#sc_2 p {

    padding: 0;
    margin: 0;
}

#sc_2 h1 {

    padding: 0;
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 0;

    text-decoration: underline;
    font-family: cursive, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;

   
}

#sc_2 #d_4 {

    display: block;
    margin: auto;
}

#d_4 img {

    width: 23.65%;
    padding: 1px;

    border-width: 3px;  
    border-style: solid;
    border-color: rgb(199, 198, 198);
}

#sc_3 {

    height: 50px;
    background-color: rgb(255, 102, 102);
}

